.btn {
  background-color: #0045cf;
  border-radius: 100px;
  border: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'ProximaNovaBold';
  font-size: 24px;
  font-weight: normal;
  line-height: 1.33;
  max-width: 300px;
  outline: medium none;
  padding: 20px;
  text-align: center;
  transition-duration: 300ms;
  transition-property: background-color, opacity;
  transition-timing-function: ease-in;
  width: 100%;

  &:hover {
    background-color: #0553ef;
  }

  &:disabled,
  &[data-disabled="true"] {
    opacity: .2;
    cursor: not-allowed;
  }
}