@media (max-width:900px) {
  .result {
    &__mask {
      max-width: 400px;
    }
  }
  #generatedSignatureVisible {
    left: 85px;
    top: 220px;
    width: 320px;
  }
}

@media (max-width:767px) {
  .content {
    display: block;
  }
  .form {
    width: 100%;
  }
  .result {
    overflow: hidden;

    &__mask {
      max-width: inherit;
    }
  }
  #generatedSignatureVisible {
    left: 100px;
    top: 260px;
    width: 360px;
  }
}

@media (max-width:480px) {
  .header {
    padding-top: 30px;

    .container {
      padding-left: 30px;
      padding-right: 30px;
    }

    .row {
      display: block;
    }

    &__logo {
      margin-bottom: 20px;
    }
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .form {
    .btn {
      max-width: 90%;
    }
  }
  .result {
    &__mask {
      margin-left: -70px;
      max-width: 400px;
    }
  }
  #generatedSignatureVisible {
    left: 15px;
    top: 220px;
    width: 280px;
  }
}