.result {
  position: relative;
  transform: translateY(-90px);
}
#generatedSignature {
  bottom: 0;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#generatedSignatureVisible {
  left: 100px;
  position: absolute;
  top: 260px;
  width: 360px;
}